.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background: #498cec;
}
.wrapper {
  position: relative;
  /* width: 1366px; */
  height: 100vh;
  border: 1px solid #979797;
}
.city {
  position: absolute;
  display: block;
  left: 96px;
  top: 80px;
}
.city__name {
  font-size: 50px;
  line-height: 60px;
}
.city__change {
  font-style: normal;
  font-weight: normal;
  padding-top: 8px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-stretch: expanded;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 0.6;
  cursor: pointer;
}

.city__location {
  display: block;
  padding-left: 30px;
  margin-left: 29px;
  min-width: 30px;
  min-height: 30px;

  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/location.png");
  background-repeat: no-repeat;
  background-position: top 10px;
  cursor: pointer;
}
.city__name-input {
  position: relative;
  cursor: pointer;
}
.city__name-input input {
  width: 518px;
  padding: 30px;
  font-size: 30px;
  line-height: 36px;
  border: 1px solid #cecece;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  outline: none;
}
.cities__name-ok {
  position: absolute;
  right: 30px;
  background-color: #fff;
  top: 30px;
  font-size: 30px;
  line-height: 36px;
  color: #1086ff;
}
.degrees {
  position: absolute;
  right: 5.5%;
  top: 8vh;
  width: 77px;
  mix-blend-mode: normal;
  opacity: 0.4;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.degrees::before {
  position: absolute;
  top: 2px;
  left: -15px;
  content: "\B0";
  mix-blend-mode: normal;
  opacity: 0.4;
}
.degrees_c {
  position: absolute;
  height: 29px;
  left: 0;
  width: 37px;
  border: 1px solid #ffffff;
  border-radius: 8px 0 0 8px;
  display: flex;
  margin: auto;
}
.degrees_f {
  position: absolute;
  height: 29px;
  left: 37px;
  width: 37px;
  border: 1px solid #ffffff;
  border-radius: 0 8px 8px 0;
  display: flex;
}

.degrees_active {
  background: rgba(255, 255, 255, 0.2);
}
.center {
  margin: auto;
}
.weather__mainblock {
  position: absolute;
  top: 35vh;
  left: 33%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;

  color: #ffffff;
}
.weather__temp {
  font-size: 180px;
  line-height: 216px;
  text-align: center;
}
.weather__temp-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.weather__description {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.weather__icon {
  display: block;
  width: 200px;
  height: 200px;
}
footer {
  position: absolute;
  bottom: 183px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer__item1 {
  position: absolute;
  left: 100px;
}
#footer__item2 {
  position: absolute;
  left: 30%;
}
#footer__item3 {
  position: absolute;
  left: 53%;
}
#footer__item4 {
  position: absolute;
  left: 74%;
}
.footer__title {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__value {
  position: absolute;
  top: 32px;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  min-width: 150px;
}

.rain {
  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/rain.png");
}
.sun {
  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/sun.png");
}
.partly_cloudy {
  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/partly_cloudy.png");
}
.cloud {
  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/cloud.png");
}
.storm {
  background-image: url("https://weatherinformeriremezov.herokuapp.com/weather/storm.png");
}
@media (max-width: 992px) {
  .city {
    height: 36px;
    left: 5.07%;
    /* left: 19px; */
    /* top: 19px; */
    top: 3vh;
  }
  .city__name {
    font-size: 30px;
    line-height: 36px;
  }
  .city__change {
    font-size: 15px;
    line-height: 18px;
    padding-top: 18px;
  }
  .city__location {
    background-position: top -5px left 0;
    margin-left: 34px;
  }
  .degrees {
    right: 11.47%;
    top: 3.9%;
  }
  .weather__mainblock {
    top: 25vh;
    font-size: 120px;
    line-height: 155px;
    /* top: 20%; */
    left: 13%;
    height: 220px;
    font-family: "PT Sans", sans-serif;
  }
  .weather__temp {
    font-size: 120px;
  }
  .weather__icon {
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 54px;
    margin-left: 19px;
  }
  .weather__description {
    margin-top: -37px;
    margin-left: 100px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .footer__value {
    top: 21px;
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    top: calc(50% - 22px / 2 + 204.5px);
  }
  .footer__title {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__value {
    font-size: 18px;
    line-height: 22px;
    min-width: 150px;
  }
  #footer__item1 {
    position: absolute;
    left: 20px;
    top: 23px;
  }
  #footer__item2 {
    position: absolute;
    left: 52%;
    top: 23px;
  }
  #footer__item3 {
    position: absolute;
    top: 101px;
    left: 20px;
  }
  #footer__item4 {
    position: absolute;
    top: 101px;
    left: 52%;
  }
  .city__name-input {
    position: absolute;
    cursor: pointer;
    top: 0.9vh;
  }
  .city__name-input input {
    width: 333px;
    padding: 17px;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #cecece;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
  }
  .cities__name-ok {
    font-size: 15px;
    line-height: 18px;
    right: 15px;
    background-color: #fff;
    top: 18px;
  }
}
